################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentle.bookstore/.vs/Webgentle.bookstore
/Webgentle.bookstore/bin/Debug/netcoreapp3.1
/Webgentle.bookstore/obj
